{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "event/includes/header.html" %}
{% endblock %}

{% block content %}
    <h1>Все мероприятия</h1>
    <div class="events">
        {% for competition in competitions %}
            <div class="competition">
                <div class="card_top">
                    <img src="{% static "tour_bkg.png" %}" alt="">
                    <div class="card_name">{{ competition.title }}</div>
                </div>
                <div class="card_bottom">
                    <p><strong>Описание:</strong> {{ competition.description }}</p>
                    <p><strong>Дата начала:</strong> {{ competition.start_time }}</p>
                    <p><strong>Статус:</strong> {{ competition.event_status }}</p>

                    {% if user.is_authenticated %}
                        {# competition.id#}

                        {% if competition.registered %}
                            <button class="disabled"><a class="disabled">Вы уже участник</a></button>
                        {% else %}
                            <form method="post" action="{% url 'create_team' competition.id %}">
                                {% csrf_token %}
                                <button id="participate-button" type="submit">Создать команду</button>
                            </form>

                        {% endif %}
                    {% endif %}
                    <button><a href="{% url 'competition_detail' competition.id %}">Дополнительная информация</a></button>
                </div>
            </div>
        {% empty %}
            <p>Нет доступных соревнований.</p>
        {% endfor %}
    </div>


{% endblock %}