{% extends "base.html" %}
{% load static %}

{% block header %}
    {% include "event/includes/header.html" %}
{% endblock %}

{% block content %}
    <h1>Все мероприятия</h1>
    <div class="events">
        {% for competition in competitions %}
            <div class="competition">
                <div class="card_top">
                    <img src="{% static "tour_bkg.png" %}" alt="">
                    <div class="card_name">{{ competition.title }}</div>
                </div>
                <div class="card_bottom">
                    <p><strong>Описание:</strong> {{ competition.description }}</p>
                    <p><strong>Дата начала:</strong> {{ competition.start_time }}</p>
                    <p><strong>Дата окончания:</strong> {{ competition.end_time }}</p>
                    <p><strong>Срок регистрации:</strong> {{ competition.registration_deadline }}</p>
                    <p><strong>Место проведения:</strong> {{ competition.location }}</p>
                    <p><strong>Статус:</strong> {{ competition.event_status }}</p>

                    {% if user.is_authenticated %}
                        {# competition.id#}
                        <form method="post" action="{% url 'create_team' competition.id %}">
                            {% csrf_token %}
                            <button id="participate-button" type="submit">Создать команду</button>
                        </form>
                        <button><a href="{% url 'team_search' %}">Найти команду</a></button>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>Нет доступных соревнований.</p>
        {% endfor %}
    </div>


{% endblock %}