{% extends "base.html" %}

{% block header %}
    {% include "event/includes/header.html" %}
{% endblock %}

{% block content %}

    <h1>Варианты команд</h1>
    <div>
        {% for team in teams %}
            <div class="team">
                <h2>{{ team.name }}</h2>
                <p><strong>Лидер: </strong> {{ team.leader_id }}</p>
                {#                <p><strong>Количество участники:</strong> {{ team.get_member_count }}</p>#}
                <p><strong>Участники:</strong>
                    {% for member in team.members.all %}
                        {{ member.username }},
                    {% endfor %}
                </p>
                <p><strong>На мероприятие:</strong> {{ team.competition.title }}</p>

                <form method="post" action="{% url 'create_team' competition.id %}">
                    {% csrf_token %}
                    <button id="participate-button" type="submit">Создать команду</button>
                </form>

            </div>
        {% empty %}
            <p>Нет доступных вариантов</p>
        {% endfor %}
    </div>

{% endblock %}