{% extends "base.html" %}

{% block header %}
    {% include "event/includes/header.html" %}
{% endblock %}

{% block content %}

    <h1>Варианты команд</h1>
    <table class="card_bottom3">
        <thead>
            <tr>
                <th scope="col"><strong>Название: </strong></th>
                <th scope="col"><strong>Лидер: </strong></th>
                <th scope="col"><strong>Участники:</strong></th>
                <th scope="col"><strong>На мероприятие:</strong></th>
                <th scope="col"><strong>Подать заявку</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr class="team">
                    <td>{{ team.name }}</td>
                    <td> {{ team.leader_id }}</td>
                    <td>
                    {% for member in team.members.all %}
                        {{ member.username }},
                    {% endfor %}
                    </td>
                    <td>{{ team.competition.title }}</td>
                    <td><button type="submit">Отправить заявку</button></td>
                </tr>
            {% empty %}
                <p>Нет доступных вариантов</p>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}