@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

:root {
    --main-color: #C73006;
    --second-color: #efefef;
    --breadcrumbs-fg: #464655;
}

body {
    margin: 0;
    padding: 0;
    background: var(--second-color);
    font-family: 'QuickSand', sans-serif;
}

.wrapper {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background: var(--main-color);
    color: var(--second-color);

    position: relative;
    padding: 1em 0;
    margin: 0px 25px 0px 25px;
    border-radius: 0px 0px 25px 25px;
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.logo span {
    font-weight: 400;
}

.main-nav {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: var(--breadcrumbs-fg);
    height: 0;
    overflow: hidden;
}

.main-nav-open {
    height: auto;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav li {
    border-bottom: 1px solid #575766;
}

.main-nav li:last-child {
    border-bottom: none;
}


.main-nav a {
    color: white;
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:focus {
    background: #e4b363;
    color: var(--breadcrumbs-fg);
}

.nav-icon {
    display: inline-block;
    font-size: 1.3em;
    margin-right: .5em;
    text-align: center;
    width: 1.1em;
    color: rgba(255, 255, 255, 0.45);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 0.5em;
    right: 0.2em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: rotate(90deg) translateY(3px);
}

@media only screen and (min-width: 800px) {
    .menu-toggle {
        display: none;
    }

    .main-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
    }

    .main-nav li {
        display: inline-block;
        border: none;
    }

    .main-nav a {
        padding: 0;
        margin-left: 2em;
    }

    .main-nav a:hover, .main-nav a:focus {
        background: transparent;
    }

    .nav-icon {
        display: none;
    }
}

button {
    background-color: var(--main-color) !important;
    margin: 5px;
    border: none;
    color: white;
    padding: 9px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}

button.disabled{
    background-color: gray!important;
}

input.form-input, textarea.form-input {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: rgba(184, 184, 184, 0.28);
    border: 0;
    padding: 6px 10px;
    font-size: 14px;
}

label.form-label {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00a74f;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

div.content {
    padding: 10px;
}

.events {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    padding: 30px;
    text-align: center;
    font-size: 48px;
}

.events {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.competition {
    height: 30rem;
    background-color: #C2C2C2;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.50);
    width: min-content;
}

.competition2{
    height: auto;
    background-color: #C2C2C2;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.50);
    width: 100%;
}

.competition3{
    height: auto;
    background-color: #C2C2C2;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.50);
    width: min-content;
}

.card_top {
    position: relative;
    background-color: #E1E1E1;
    width: 100%;
    height: 40%;
    border-radius: 25px 25px 0px 0px;
    min-height: 160px;
}

.card_top2 {
    background-color: #E1E1E1;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}

.card_top3 {
    background-color: #E1E1E1;
    width: 100%;
    border-radius: 0px 0px 25px 25px;
}

.card_top img {
    height: 100%;
    width: 350px;
    border-radius: 25px 25px 0px 0px;
}

.card_name {
    color: white;
    position: absolute;
    top: 70%; /* расположение по центру */
    font-size: 24px; /* размер шрифта */
    left: 10%;
}

.card_name2 {
    text-align: center;
    font-size: 48px; /* размер шрифта */
}

.card_bottom {
    text-align: center;
    margin: 10px;
    height: 60%;
}

.card_bottom2 {
    text-align: center;
    margin: 10px;
}

.card_bottom3 {
    text-align: center;
    border-collapse: collapse;
    table-layout:auto;
    width:100%;
    margin-top: 10px;
}

.card_bottom3 td,
.card_bottom3 th{
    flex:1;
    border: 2px solid black;
    border-collapse: collapse;
}

@media (max-width: 768px) {
    .menu {
        visibility: visible;
        cursor: pointer;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    .navbar.active {
        display: flex;
    }

    .button {
        width: 100%;
        height: 60px;
        font-size: 24px;
        text-align: center;
        padding: 10px 0;
    }
}

